@import "../../partials/mixins", "../../partials/variables";

.contact {
  &__link {
    margin: 1.5rem 1rem 5rem;
    width: 2rem;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(307deg)
      brightness(103%) contrast(101%);

    @include tablet {
      width: 3rem;
    }

    @include desktop {
      margin: 1.5rem 1rem 0;
    }

    &:hover {
      filter: invert(31%) sepia(48%) saturate(4926%) hue-rotate(328deg)
        brightness(101%) contrast(101%);
    }
  }
}
