@font-face {
    font-family: "Sora";
    font-weight: 100;
    src: url("../assets/fonts/Sora-Light.ttf")
}

@font-face {
    font-family: "Sora";
    font-weight: 400;
    src: url("../assets/fonts/Sora-Regular.ttf")
}


@font-face {
    font-family: "Sora";
    font-weight: 900;
    src: url("../assets/fonts/Sora-Bold.ttf")
}
